@import "@fontsource/fira-code/300.css";
@import "@fontsource/fira-code/400.css";
@import "@fontsource/fira-code/500.css";
@import "@fontsource/fira-code/600.css";
@import "@fontsource/fira-code/700.css";
@import "devicon/devicon.min.css";
@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    --color-primary: oklch(76.5% 0.177 163.223);
    --color-error: oklch(71.2% 0.194 13.428);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Code', monospace;
}

.bg-image {
    background-image: url("@assets/images/hero-image.webp");
    background-size: cover;
    background-position: center;
}

@media (min-width: 640px) {
    .bg-image {
        background-attachment: fixed;
    }
}
