---
import Hero from "@layouts/Hero.astro";
import About from "@layouts/About.astro";
import Layout from "@layouts/Layout.astro";
import Sections from "@layouts/Sections.astro";

const sections: Section[] = [
    { name: 'Home', reference: '#home', component: Hero },
    { name: 'About me', reference: '#about', component: About },
];

---
<Layout>
    <div class="pt-16">
        <Sections sections={sections} />
    </div>
</Layout>
