---
import Layout from "@layouts/Layout.astro";
import Sections from "@layouts/Sections.astro";
import { sections } from "@utils/sections";

const defaultLocale = Astro.currentLocale;
const { locale } = Astro.props as { locale?: string };

---
<Layout locale={locale ?? defaultLocale}>
    <div class="pt-16">
        <Sections sections={sections} locale={locale ?? defaultLocale} />
    </div>
</Layout>
