---
import DecodeText from "@components/vue/DecodeText.vue";
import photo from "@assets/images/personal-photo.jpg";
import { useData } from "@utils/i18n";

const { about } = useData(Astro.currentLocale ?? "es");
---
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row gap-20 px-20">
        <img
            src={photo.src}
            class="w-3/4 md:w-1/2 lg:max-w-sm rounded-lg shadow-2xl"
            fetchpriority="high"
            alt="Photo"
        />
        <div>
            <h1 class="text-5xl font-bold">
                <DecodeText 
                    client:visible 
                    text={about.title}
                    revealSpeed={2}
                    frameDelay={50}
                />
            </h1>
            <p class="py-6 text-sm">
                {about.description}
            </p>
        </div>
    </div>
</div>
