---
import Timeline from "@components/vue/Timeline.vue";
import DecodeText from "@components/vue/DecodeText.vue";
import { useTranslations, useData } from "@utils/i18n";

const t = useTranslations(Astro.currentLocale ?? "es");
const { experience } = useData(Astro.currentLocale ?? "es");
---

<div class="bg-base-200 min-h-screen pt-32">
    <div class="flex flex-col lg:flex-row gap-10 px-20">
        <div class="lg:w-1/5 lg:max-w-1/5 sm:text-center lg:text-left">
            <h1 class="text-5xl font-bold">
                <DecodeText
                    client:visible
                    text="Experiencia laboral"
                    revealSpeed={10}
                    frameDelay={50}
                />
            </h1>
        </div>
        <div class="lg:w-4/5 lg:max-w-4/5">
            <Timeline 
                client:visible 
                experience={experience} 
                currentLabel={t("messages.experience.current")}
            />
        </div>
    </div>
</div>
