---
import Timeline from "@components/Timeline.astro";
import DecodeText from "@components/vue/DecodeText.vue";
import { useTranslations } from "@utils/i18n";

const t = useTranslations(Astro.currentLocale ?? "es");
---

<div class="bg-base-200 min-h-screen flex flex-col items-center py-16">
    <div class="w-full px-4 mt-10">
        <h1 class="text-5xl font-bold mb-10 text-center">
            <DecodeText 
                client:visible 
                text={t("messages.experience.title")} 
                revealSpeed={1}
                frameDelay={50}
            />
        </h1>
    </div>
    <div class="w-full px-4 mt-10">
        <Timeline />
    </div>
</div>
