---
import Carousel from "@components/vue/Carousel.vue";
import DecodeText from "@components/vue/DecodeText.vue";
import { useTranslations, useData } from "@utils/i18n";

const t = useTranslations(Astro.currentLocale ?? 'es');
const { projects } = useData(Astro.currentLocale ?? 'es');
---

<div class="bg-base-200 min-h-screen flex flex-col items-center py-16">
    <div class="w-full px-4 mt-10">
        <h1 class="text-5xl font-bold mb-10 text-center">
            <DecodeText 
                client:visible 
                text={t('messages.projects.title')} 
                revealSpeed={1}
                frameDelay={50}
            />
        </h1>
    </div>
    <div class="w-full px-4 mt-10">
        <Carousel 
            client:visible 
            projects={projects} 
            defaultBtnText={t('messages.projects.view_repository')}
            nextBtnText={t('messages.projects.next')}
            prevBtnText={t('messages.projects.prev')}
        />
    </div>
</div>
